body *{
    font-family: 'Cabin', sans-serif;
    font-size: 35px;
}

.container {
    width: 400px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: 40px auto;
    padding: 30px;
    background-color: aquamarine;
}
.row {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
}
#window {
    display: flex;
    flex: 1;
    height:60px;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    padding-right: 10px;
}
button {
    flex: 1;
    border: 1px solid brown;
    background-color: bisque;
}
